@use './../../../../styles.scss' as *;

@mixin borderStyling(){
  border-radius: 8px;
  border:2px solid #fff;
}

@mixin shadowStyling(){
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

@mixin dFlex($js, $ai){
  display: flex;
  justify-content: $js;
  align-items: $ai;
}

nav{
  position: absolute;
  right: 0;
  left: 0;
  top: 0px;
  height: 112px;
  padding: 0px 100px 0px 100px;
  @include dFlex(space-between, center);

    >img{
        left: 160px;
        top: 40px;
        width: 64px;
        height: 64px;
    }
    >div{
        display: flex;
        align-items: center;
    }
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
    &:hover {
        color: $dark_red;
        @include shadowStyling();
      }
}

.phone-btn{
    background-color:$dark_red;
   @include borderStyling();
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
        color: #fff;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      }
      &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      }
}