footer {
    background-color: #000;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > section {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-content: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    .logo-section {
        display: flex;
        align-items: center;

        .logo {
            width: 40px;
            height: 40px;
            padding-left: 10px;
        }
    }

    .footer_logo_sakura {
        height: 44px;
    }
}
