<div class="menu-container">
    <h2 id="menu">OUR MENU</h2>

    <section class="flex_menu_container">
      <div class="menu-image tonkotsuramen">
        <img src="./assets/img/R1.png" alt="Tonkotsu Ramen" />
      </div>
      <div class="menu">
        <div class="menu-heading">Tonkotsu Ramen</div>
        <table>
          <tr>
            <td>CHICKEN</td>
            <td class="price">11.95€</td>
          </tr>
          <tr>
            <td>BEEF</td>
            <td class="price">12.95€</td>
          </tr>
          <tr>
            <td>SHRIMP</td>
            <td class="price">13.95€</td>
          </tr>
        </table>
      </div>
    </section> <!-- KORREKT GESCHLOSSEN -->

    <section class="flex_menu_containerR2">
      <div class="menu-image2">
        <img src="./assets/img/R2.png" alt="Spicy Miso Ramen" />
      </div>
      <div class="menu">
        <div class="menu-heading2">Spicy Miso Ramen</div>
        <table>
          <tr>
            <td>CHICKEN</td>
            <td class="price">11.95€</td>
          </tr>
          <tr>
            <td>BEEF</td>
            <td class="price">12.95€</td>
          </tr>
          <tr>
            <td>SHRIMP</td>
            <td class="price">13.95€</td>
          </tr>
        </table>
      </div>
    </section> <!-- KORREKT GESCHLOSSEN -->

    <section class="flex_menu_container">
      <div class="menu-image">
        <img src="./assets/img/R3.png" alt="Shio Ramen" />
      </div>
      <div class="menu">
        <div class="menu-heading">Shio Ramen</div>
        <table>
          <tr>
            <td>CHICKEN</td>
            <td class="price">11.95€</td>
          </tr>
          <tr>
            <td>BEEF</td>
            <td class="price">12.95€</td>
          </tr>
          <tr>
            <td>SHRIMP</td>
            <td class="price">13.95€</td>
          </tr>
        </table>
      </div>
    </section> <!-- KORREKT GESCHLOSSEN -->

</div>
