 <!--HOW TO ORDER-->
 <div class="hto-container">
    <h2 class="fontRaleway">HOW TO ORDER</h2>
    <div class="hto-order">
      <div class="flex_ordner">
        <a class="noodle" href="#menu">
          <img
            src="./assets/img/noodle.png"
            alt="Pick your noodle"
          />
          <span class="fontRaleway">Pick your noodle</span>
        </a>
      </div>
      <div class="flex_ordner">
        <a  class="broth" href="#menu">
          <img
            src="./assets/img/broth.png"
            alt="Pick your broth"
          />
          <span class="fontRaleway">Pick your broth</span>
        </a>
      </div>
      <div class="flex_ordner">
        <a class="toppings" href="#menu">
          <img
            src="./assets/img/egg.png"
            alt="Add your topping"
          />
          <span class="fontRaleway">Add your toppings</span>
        </a>
      </div>
    </div>
  </div>